# Source files
*.py     text eol=lf diff=python
*.pth    text eol=lf diff=python
*.toml   text eol=lf

# Automation scripts
*.sh     text eol=lf
*.bat    text eol=crlf

# User interface files
*.ui     text eol=lf
*.svg    text eol=lf
*.ico    binary
*.png    binary

# Model artifacts
*.ckpt   -text filter=lfs diff=lfs merge=lfs
*.pklz   -text filter=lfs diff=lfs merge=lfs

# Documentations
*.md     text eol=lf
*.rst    text eol=lf
*.css    text eol=lf
*.zip    -text filter=lfs diff=lfs merge=lfs
