# Source files
*.py     text eol=lf diff=python
*.pth    text eol=lf diff=python
*.bat    text eol=crlf

# User interface files
*.ui     text eol=lf
*.svg    text eol=lf
*.ico    binary
*.png    binary

# Model artifacts
*.ckpt   -text filter=lfs diff=lfs merge=lfs
*.pklz   -text filter=lfs diff=lfs merge=lfs

# Documents
*.md     text eol=lf
